.customComponentCol{
    padding:0px;
}

#bigHeader{
    margin-top:3rem;
    font-size:4rem;
    font-weight: 900;
    text-align: center;
}

#followIcons{
    margin-top:3rem;
    margin-bottom:3rem;
}
.followIconContainer{
    display:flex;
    justify-content: center;
}
.followIconContainer h6{
    margin-top:2%;
    margin-left:4%;
}